<h2>DreamChess Development Builds</h2>
<div class="block downloads">
  <h4>These builds are generated automatically from our <a href="https://github.com/dreamchess/dreamchess">source code repository</a>. They are untested and possibly unstable. Use at your own risk!</h4>
  <a href="https://nightly.link/dreamchess/dreamchess/workflows/ci/master/macOS%2010.11%2B%20%28Intel%29">macOS 10.11+ (Intel)</a><br />
  <a href="https://nightly.link/dreamchess/dreamchess/workflows/ci/master/macOS%2011%2B%20%28Apple%20Silicon%29.zip">macOS 11+ (Apple Silicon)</a><br />
  <a href="https://nightly.link/dreamchess/dreamchess/workflows/ci/master/Windows%2010%20%2832-bit%2C%20Installer%29.zip">Windows 10 (32-bit, Installer)</a><br />
  <a href="https://nightly.link/dreamchess/dreamchess/workflows/ci/master/Windows%2010%20%2832-bit%2C%20ZIP%29.zip">Windows 10 (32-bit, ZIP)</a><br />
  <a href="https://nightly.link/dreamchess/dreamchess/workflows/ci/master/Windows%2010%20%2864-bit%2C%20Installer%29.zip">Windows 10 (64-bit, Installer)</a><br />
  <a href="https://nightly.link/dreamchess/dreamchess/workflows/ci/master/Windows%2010%20%2864-bit%2C%20ZIP%29.zip">Windows 10 (64-bit, ZIP)</a><br />
</div>
