{% assign releases = include.releases | sort: 'created_at' | reverse %}

<h2>{{ include.name }}</h2>
<div class="block downloads">
{% for release in releases %}
  {% unless release.prerelease %}
  <h4>{{ release.name }} <span class="fileinfo">(<time datetime="{{ release.created_at | date: '%Y-%m-%d' }}">{{ release.created_at | date: '%B %d, %Y' }}</time>)</span></h4>
    {% for asset in release.assets %}
  <a href="{{ asset.browser_download_url }}">{{ asset.label }}</a> <span class="fileinfo">({{ asset.size | divided_by: 1000000.0 | round: 1 }} MB)</span><br />
    {% endfor %}
    {% unless release.name contains 'Music' or release.tag_name contains '0.1.' or release.tag_name contains '0.2.' %}
    <a href="{{ release.zipball_url }}">Source code (zip)</a><br />
    <a href="{{ release.tarball_url }}">Source code / Linux (tar.gz)</a><br />
    {% endunless %}
  {% endunless %}
{% endfor %}
</div>
