{% assign releases = include.releases | sort: 'created_at' | reverse %}

{% for release in releases %}
<h4>{{ release.name }}{% if release.prerelease %} (<span style="color: red">pre-release</span>){% endif %}</h4>
<table><tbody><tr><td width="200">
  {% for asset in release.assets %}
    {% if asset.name contains '.exe' %}
Windows
    {% elsif asset.name contains '-dc' %}
DreamCast
    {% elsif asset.name contains '-beos' %}
BeOS
    {% elsif asset.name contains '.dmg' %}
Mac OS X
    {% elsif asset.name contains '.tar.gz' %}
Linux (source code)
    {% elsif asset.name contains '.run' %}
Linux
    {% else %}
Other
    {% endif %}
<br />
  {% endfor %}
</td><td>
  {% for asset in release.assets %}
<a href="{{ asset.browser_download_url }}">{{ asset.name }}</a><br />
  {% endfor %}
</td></tr></tbody></table>
{% endfor %}
