body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	color: black;
	margin: 0 0 40px;
	padding: 0;
}

.addmargins {
	max-width: 900px;
	padding: 0 7%;
	margin: 0 auto;
}

#header {
	font-family: "Shadows Into Light Two", cursive;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
}

h1, h2 {
	font-family: "Shadows Into Light Two", cursive;
}

a {
	text-decoration: none;
	color: black;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}

div#menu {
	border-top: 0.15em dotted black;
	border-bottom: 0.15em dotted black;
	color: black;
}

div#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

div#menu li {
	display: inline;
}

div#menu li.here {
	font-weight: bold;
}

div#menu li {
	margin: 0 1em;
}

div.block {
	border-radius: 15px 50px 30px;
	border: 0.15em dotted black;
	padding: 10px 20px;
	margin-bottom: 2em;
}

div.downloads {
	padding-bottom: 30px;
}

div.author {
	color: #808080;
	text-align: right;
	font-style: italic;
	font-size: 0.8em;
}

div.pagination {
	text-align: center;
	margin: 20px 0;
}

.prerelease {
	color: #a00;
}

.fileinfo {
	color: #808080;
}

div.gallery img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

div.gallery ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 600px) {
	#header {
		font-size: 40px;
	}

	a.github-fork-ribbon {
		display: none;
	}
}

a.github-fork-ribbon:before {
	background-color: #327;
}

div.more p:last-child:after {
	font-style: italic;
	color: #808080;
	content: " (Read more...)";
}
