<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/dreamchess.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="assets/templates/dreamchess/poll.css" type="text/css" media="screen" />
	<script src="{{ site.baseurl }}/lightbox/js/lightbox-plus-jquery.min.js"></script>
	<link href="{{ site.baseurl }}/lightbox/css/lightbox.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/css/gallery.css" rel="stylesheet">
</head>
<body>
<div id="pagewrapper">
<div id="wrapper">
<div id="header">
<img id="headerimage" src="{{ site.baseurl }}/images/logo.png" alt="DreamChess" />
</div>

<div id="leftcolumn">
<h3>Main Menu</h3>
<div class="dropmenu">
{% include menu.html %}
</div>
<h3>SourceForge Menu</h3>
<div class="dropmenu"><ul class="topnav">
<li><a href="project-home.html" title="">Project Home</a></li>
<li class="last"><a href="bug-tracker.html" title="">Bug Tracker</a></li>
</ul>
</div>
<img class="icon" width="100" height="100" alt="" src="{{ site.baseurl }}/images/softpedia_award.gif" />
</div>

<div id="centercolumn">
<h2>{{ page.title }}</h2>
{{ content }}
</div>

<div id="clear"></div>
<div id="footer">
	&copy; Copyright 2006-{{ 'now' | date: "%Y" }} - The DreamChess Project
</div>

</div>
</div>
</body>
</html>
